name: pull full data

on:
  delete

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: checkout repo content
      uses: actions/checkout@v3

    - name: fetch data, write timestamp as filename
      run: bash pull_data.sh

    - name: commit files
      run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "pulled data on schedule" --allow-empty) || (git pull && git commit -a -m "pulled data on schedule" --allow-empty)

    - name: push changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main 
